@media (max-width: 767px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* header (slider) */
  .slider-wrapper {
    width: 100%;
    height: 200px;
  }
  .branding {
    top: 5px;
    padding: 0 10px;
  }
  .name {
    font-size: 18px;
  }
  .resume {
    font-size: 4px;
  }
  .number {
    font-size: 40px;
  }
  .text {
    font-size: 15px;
    margin-top: -30px;
  }
  .overlay {
    left: 50%;
  }
  .overlay h1 {
    font-size: 20px;
  }
  .overlay h2 {
    font-size: 12px;
    font-weight: 100;
  }
  .overlay p {
    font-size: 10px;
    margin: 5px 0;
  }
  .social-icons img {
    width: 12px;
    height: 12px;
  }
  .social-icons {
    margin: 8px 0;
  }
  .clients p {
    font-size: 12px;
  }
  .clients {
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-align: right;
  }
  /* section 1 */

  .section-container {
    padding: 20px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first second "
      "third third";
  }
  .box-1 {
    grid-area: first;
    max-width: unset;
    max-width: unset;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 5px;
  }
  .portrait {
    grid-area: second;
    max-width: 100%;
    margin-right: unset;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .box-3 {
    grid-area: third;
  }

  .ux-p {
    text-align: left;
  }
  .ux-pp {
    text-align: left;
    font-size: 12px;
  }
  .box-3 {
    max-width: 100%;
    padding-top: 10px;
    margin: 0;
  }
  .icons-container {
    margin-top: 30px;
    justify-content: space-evenly;
  }
  .hire-butt {
    font-size: 10px;
    padding: 10px 25px;
    margin-top: 45px;
    margin-bottom: unset;
    border-radius: 5px;
  }
  h3 {
    text-align: left;
  }
  .skills {
    padding-left: unset;
    padding-right: unset;
  }
  /* contact container */
  .contact-container {
    margin-top: 50px;
    padding: 20px;
    gap: 30px;
    flex-direction: column;
    border: 3px solid #e93656;
    border-radius: 30px;
    border-style: dashed;
    width: 100%;
  }
  /* services */

  .service-container {
    margin-left: unset;
    margin-right: unset;
    max-width: 100%;
    justify-content: space-around;
    gap: unset;
    row-gap: 20px;
  }
  .box {
    border-radius: 15px;
  }
  /* projects section */
  .pro-container {
    max-width: 900px;
    min-width: unset;
    min-height: unset;
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    max-width: 768px;
    flex-wrap: wrap;
  }

  .sidebar button.selected::before {
    width: 0px;
  }

  .project {
    max-width: 300px;
    width: 100px;
    height: unset;
    justify-content: space-evenly;
    padding: 10px;
  }
  .projects {
    min-height: 260px;
  }
  .overlay-3 {
    display: none;
  }
  /* slider 2 */
  .slider-2 {
    max-height: 300px;
    height: 200px;
  }
  .dots {
    margin-top: -10%;
    left: 50%;
    width: unset;
  }
  .slider-img {
    max-width: 80px;
  }
  .slider-tex {
    padding: unset;
  }
  .overlay-2 {
    max-width: 400px;
    left: 1%;
    right: 7%;
    top: 20%;
  }

  .slid-tex {
    font-size: 12px;
    max-width: 400px;
    text-wrap: wrap;
    padding-top: 18px;
    text-align: right;
    color: #dfdfdf;
  }
  .slid-img {
    max-width: 70px;
  }

  .div-3 {
    flex-direction: column;
    justify-content: center;
  }
  aside {
    writing-mode: unset;
    font-size: unset;

    max-width: unset;
  }
  .art-img {
    max-width: 100%;
    object-fit: cover;
  }
  .art-div {
    padding: 10px;
    font-size: 10px;
  }
  .art-logo {
    display: none;
  }
  .art-hd {
    font-size: 15px;
    margin: 5px;
  }
  .in-k {
    font-size: unset;
  }
  .pro-header {
    font-size: 30px;
  }
  .art-butt {
    font-size: 10px;
  }
  /* teams */
  .art-header {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .lil-text {
    font-size: 10px;
  }
  .team-container {
    margin: 30px auto;
    gap: 20px;
  }
  .team-box {
    max-width: 80px;
    max-height: 80px;
  }
  .team-img {
    max-width: 60px;
  }
  .team-p {
    font-size: 5px;
  }
  h7 {
    margin-top: 15px;
  }
  .team-back {
    padding: 4px;
    font-size: 4px;
  }
}
