* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general stylees */
body {
  max-width: fit-content;
}
.grey {
  color: #555555;
}
.white {
  color: white;
}
a {
  text-decoration: none;
}
.bold {
  font-size: bold;
}

/* header styles*/

.slider-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show-slide {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 400px;
  top: 30%;
  left: 60%;

  color: #000;
  text-align: left;
}

.overlay h2 {
  font-size: 30px;
  font-weight: 100;
}

.overlay h1 {
  font-size: 45px;
}

.overlay p {
  font-size: 18px;
  margin: 10px 0;
}

.social-icons {
  margin: 25px 0;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.branding {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.about {
  position: relative;
  text-align: center;
}

.number {
  display: block;
  font-size: 80px;
  color: rgba(11, 10, 10, 0.284);
  line-height: 1;
}

.text {
  margin-top: -50px;
  display: block;
  font-size: 24px;
  color: black;
  position: relative;
}
.name {
  font-size: 40px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.resume {
  font-size: 15px;
  font-weight: 100;
}
.clients {
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-align: right;
}

.clients p {
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.clients span {
  color: #e93656;
}

.clients::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e93656;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
/*Section 1 styles*/

.skills {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  padding-right: 120px;
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  font-size: 16px;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #e93656;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}
.section-container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "first second third";
  justify-items: center;
}
.portrait {
  grid-area: second;
}
.box-1 {
  grid-area: first;
}
.box-3 {
  grid-area: third;
}
.portrait {
  max-width: 300px;
}
.box-1 {
  padding-top: 60px;
  max-width: 350px;
  text-align: right;
  padding-left: 50px;
  padding-right: 10px;
}
.numb {
  margin-left: 10px;
  color: #e93656;
}
.box-3 {
  padding-top: 40px;
  color: #555555;
  padding-left: 10px;
}
.hire-butt {
  font-size: 15px;
  padding: 15px 45px;
  color: white;
  background-color: #e93656;
  border: none;
  margin-top: 80px;
  cursor: pointer;
}
.ux-p {
  margin: 10px;
  color: #daae19;
}
.icons-container {
  margin-top: 100px;
  display: flex;
  gap: 10px;
}
.ic-2 {
  background-color: rgb(239, 239, 239);
  margin-left: 10px;
}
.ic-2:hover {
  background-color: #15263e;
}
.ic-3 {
  max-width: 55px;
  padding: 12px;
  transition: filter 0.2s ease-in-out;
}
.ic-3:hover {
  filter: invert(200%) brightness(100);
}
/* section-2 styles */
.contact-container {
  margin-top: 20px;
  padding: 30px;
  color: #ffffff;
  background-color: #131a36;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.info {
  display: flex;
  gap: 20px;
}
.info-icon {
  max-width: 70px;
  padding: 0 14px;
  border-radius: 70px;
  border-style: dashed;
  border-width: 1px;
  transition: filter 0.1s ease-in-out;
}
.info-icon:hover {
  background-color: #e93656;
  border: none;
}
.info-p {
  padding: 10px;
  padding-left: 0;
  font-size: 12px;
  color: #dfdfdf;
}
/* section 3 styles(services) */
.services {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: fit-content;
}
.service-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.im-logo {
  max-width: 50px;
  margin-bottom: 10px;
}

.box-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.box-front,
.box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  align-content: center;
}

.box-back {
  color: #ffffff;
  background: #15263e;
  transform: rotateY(180deg);
}
.box {
  text-align: center;
  background-color: #f1f1f1;
  align-content: center;
  max-width: 200px;
  height: 250px;
  width: 180px;
}
.box:hover .box-inner {
  transform: rotateY(180deg);
}
.bg-text {
  padding: 20px;
  font-size: 11px;
}
