* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general stylees */
body {
  max-width: fit-content;
}
.grey {
  color: #555555;
}
.white {
  color: white;
}
a {
  text-decoration: none;
}
.bold {
  font-size: bold;
}

/* header styles*/

.slider-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show-slide {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 400px;
  top: 30%;
  left: 60%;

  color: #000;
  text-align: left;
}

.overlay h2 {
  font-size: 30px;
  font-weight: 100;
}

.overlay h1 {
  font-size: 45px;
}

.overlay p {
  font-size: 18px;
  margin: 10px 0;
}

.social-icons {
  margin: 25px 0;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.branding {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.about {
  position: relative;
  text-align: center;
}

.number {
  display: block;
  font-size: 80px;
  color: rgba(11, 10, 10, 0.284);
  line-height: 1;
}

.text {
  margin-top: -50px;
  display: block;
  font-size: 24px;
  color: black;
  position: relative;
}
.name {
  font-size: 40px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.resume {
  font-size: 15px;
  font-weight: 100;
}
.clients {
  position: absolute;
  bottom: 30px;
  right: 50px;
  text-align: right;
}

.clients p {
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.clients span {
  color: #e93656;
}

.clients::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e93656;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}
/*Section 1 styles*/

.skills {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  padding-right: 120px;
}

.skill {
  margin-bottom: 15px;
}

.skill p {
  font-size: 16px;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #e93656;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}
.section-container {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "first second third";
  justify-items: center;
}
.portrait {
  grid-area: second;
}
.box-1 {
  grid-area: first;
}
.box-3 {
  grid-area: third;
}
.portrait {
  max-width: 300px;
}
.box-1 {
  padding-top: 60px;
  max-width: 350px;
  text-align: right;
  padding-left: 50px;
  padding-right: 10px;
}
.numb {
  margin-left: 10px;
  color: #e93656;
}
.box-3 {
  padding-top: 40px;
  color: #555555;
  padding-left: 10px;
}
.hire-butt {
  font-size: 15px;
  padding: 15px 45px;
  color: white;
  background-color: #e93656;
  border: none;
  margin-top: 80px;
  cursor: pointer;
}
.ux-p {
  margin: 10px;
  color: #daae19;
}
.icons-container {
  margin-top: 100px;
  display: flex;
  gap: 10px;
}
.ic-2 {
  background-color: rgb(239, 239, 239);
  margin-left: 10px;
}
.ic-2:hover {
  background-color: #15263e;
}
.ic-3 {
  max-width: 55px;
  padding: 12px;
  transition: filter 0.2s ease-in-out;
}
.ic-3:hover {
  filter: invert(200%) brightness(100);
}
/* section-2 styles */
.contact-container {
  margin-top: 20px;
  padding: 30px;
  color: #ffffff;
  background-color: #131a36;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.info {
  display: flex;
  gap: 20px;
}
.info-icon {
  max-width: 70px;
  padding: 0 14px;
  border-radius: 70px;
  border-style: dashed;
  border-width: 1px;
  transition: filter 0.1s ease-in-out;
}
.info-icon:hover {
  background-color: #e93656;
  border: none;
}
.info-p {
  padding: 10px;
  padding-left: 0;
  font-size: 12px;
  color: #dfdfdf;
}
/* section 3 styles(services) */
.services {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: fit-content;
}
.service-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.im-logo {
  max-width: 50px;
  margin-bottom: 10px;
}

.box-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.box-front,
.box-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  align-content: center;
}

.box-back {
  color: #ffffff;
  background: #15263e;
  transform: rotateY(180deg);
}
.box {
  text-align: center;
  background-color: #f1f1f1;
  align-content: center;
  max-width: 200px;
  height: 250px;
  width: 180px;
}
.box:hover .box-inner {
  transform: rotateY(180deg);
}
.bg-text {
  padding: 20px;
  font-size: 11px;
}
/* section 4(slider) */
.second-slider {
  margin-bottom: 40px;
}

.slider-2 {
  position: relative;
  height: 300px;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.slide-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.show-2 {
  opacity: 1;
}
.show-2 {
  display: block;
  opacity: 1;
}

.dots {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: -185px;
  cursor: pointer;
  transition: background 0.3s;
  right: 25%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #555555;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background-color: #e93656;
}
.overlay-2 {
  max-width: 600px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 15%;
  gap: 15px;
  align-items: center;
}
.slid-tex {
  max-width: 400px;
  text-wrap: wrap;
  padding: 20px;
  text-align: right;
  color: #dfdfdf;
}
.slid-img {
  max-width: 100px;
  border: dashed;
  border-radius: 50px;
  border-color: #ffffff;
  padding: 5px;
}
.occasion {
  padding: 8px 0px;
  font-size: 12px;
  color: #e93656;
}
.quote {
  max-width: 20px;
}
/* section 5 styles */
.pro-header {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.projects-sec {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.pro-container {
  max-width: 900px;
  min-width: 900px;
  min-height: 500px;
  display: flex;
}
.sidebar {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  max-height: 300px;
  padding: 20px;
  background-color: #15263e;
  color: white;
  font-weight: 200;
}

.sidebar button {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  text-align: left;
  transition: color 0.3s ease-in-out;
}

.sidebar button.selected {
  color: #e93656;
}

.sidebar button.selected::before {
  content: "";
  width: 50px;
  height: 1px;
  background: #e93656;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(10px, -50%);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  padding-top: 0;
}
.project {
  max-height: 250px;
  width: 200px;
  height: 230px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.project img {
  width: 100%;
  display: block;
  transition: filter 0.3s ease-in-out;
}

.overlay-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.heart {
  position: relative;
  font-size: 12px;
  color: #e93656;
  margin-bottom: 10px;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.heart::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #e93656;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.date {
  font-size: 12px;
}
.title {
  font-size: 16px;
}
.date .title {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover .overlay-3 {
  opacity: 1;
}

.project:hover .heart {
  opacity: 1;
  transform: scale(1);
}

.project:hover .date,
.project:hover .title {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
/* Articles section */

.art-header {
  text-align: center;
  font-size: 60px;
  margin-bottom: 70px;
}
.art-div {
  padding: 20px 60px;
  text-align: left;
  align-content: center;
  color: #494949;
}
.div-3 {
  display: flex;
}
aside {
  color: #e93656;
  background-color: #15263e;
  writing-mode: sideways-lr;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  max-width: 10%;
}
.lil-text {
  margin-top: 70px;
  font-size: 20px;
  text-align: center;
  color: #2ed279;
}
.art-logo {
  max-width: 70px;
  margin-bottom: 20px;
}
.in-k {
  color: #888888;
  font-size: 14px;
}
.art-hd {
  color: #161616;
  margin: 15px 0px;
  font-size: 32px;
}
.art-butt {
  margin: 15px 0px;
  border: none;
  background: none;
  cursor: pointer;
}
.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "article photo"
    " art img"
    "arti image";
}
.art-1 {
  grid-area: article;
}
.art-2 {
  grid-area: photo;
}
.art-3 {
  grid-area: art;
}
.art-4 {
  grid-area: img;
}
.art-5 {
  grid-area: arti;
}
.art-6 {
  grid-area: image;
}
.art-img {
  max-width: 90%;
}
/* section 6 styles */
.team-container {
  max-width: 760px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px auto;
  gap: 60px;
}

.team-box {
  max-width: 130px;
  width: 130px;
  height: 130px;
  perspective: 1000px;
}

.team-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.team-front,
.team-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.team-back {
  background-color: #ffffff;
  color: #222;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border: 3px solid #e93656;
}
.team-img {
  max-width: 110px;
  filter: brightness(0) saturate(100%) invert(11%) sepia(10%) saturate(2500%)
    hue-rotate(190deg);
}
.team-p {
  margin-top: 9px;
  font-size: 12px;
}
/* section 7 styles */

.contacts {
  max-height: 550px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/map.jpeg") no-repeat center center/cover;
  color: white;
}
.contact-section {
  max-width: fit-content;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: auto;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-group input {
  width: 32%;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.but-con {
  background-color: transparent;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.but-con:hover {
  background-color: #e74c3c;
  color: white;
}

#responseMessage {
  margin-top: 10px;
  font-size: 16px;
}
.cont-h {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  margin-bottom: 10px;
}
.cont-p {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  color: #000;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  background-color: #e93656;
  top: -14px;
  right: -7px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 100%;
  padding: 0px 6px;
}
/* footer styles */
.foot-sec {
  color: #ffffff;
  background-color: #282828;
  height: 350px;
}
.f-header {
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  padding-bottom: 35px;
}
.foot-p {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.sec-rights {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #171717;
}
.rights {
  opacity: 60%;
}
.f-imgs {
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 40px;
}
.f-img {
  max-width: 25px;
}
